* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: Verdana;
}

h1, h2, h3, h4 {
    opacity: 0.8;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

h4 {
    font-size: 1rem;
}
header {
    background-color: white;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 1.5rem;
    display: flex;

}

.logo-container {
    display: flex;
    align-items: center;
}

.logo img {
    padding-top: 0.5rem;
}

.logo span {
    font-weight: 400;
}

.menu {
    height: 100%;
    display: flex;
    margin-right: 0.5rem;
    align-items: center;
}

.menu a {
    flex: 1;
}

@media only screen and (max-width: 680px) {
    .menu h4 {
        display: none;
    }
}

@media only screen and (min-width: 679px) {
    .menu img {
        display: none;
    }
}

@media only screen and (max-width: 360px) {
    .logo-container h3 {
        display: none;
    }
}

header a {
    margin-right: 1rem;
}

.banner {
    display: flex;
    width: 100%;
    height: 33rem;
    background-color: #d3d3d3;
}

.banner img {
    width: 60%;
    padding: 2rem 1.5rem;
}

.banner-text {
    display: flex;
    width: 100%;
    flex-flow: column;
    justify-content: center;
    margin-right: 9rem;
}

.banner .button {
    background-color: #666666;
    color: white;
    text-align: center;
    padding: 0.75rem 0;
}

.banner h1, .banner h3 {
    padding-bottom: 1.75rem;
}

.information {
    display: flex;
    width: 100%;
}

.presentation {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
}

.presentation img {
    max-width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.presentation h2 {
    margin-bottom: 1.5rem;
}

.presentation h4 {
    margin-bottom: 3rem;
    padding-right: 2rem;
}

.tiles {
    width: 40%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.grey-border {
    border-left: 1px solid grey;
}

.tile-container {
    width: 100%;
    height: 33.3%;
    display: flex;
    padding: 1rem;
}

.tile-container :hover {
    background-color: grey;
}

.tile-container img { 
    margin-right: 1rem;
    /*max-width: 100%;*/
    width: 35%;
    height: auto;
}

.tile-text {
    width: 65%;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tiles h3, .tiles h4  {
    margin-bottom: 0.5rem;
}

.tiles span {
    color: blue;
}

.courses {
    background-color: #d3d3d3;
    width: 100%;
}

.courses-header {
    text-align: center;
    margin: 0;
    padding-top: 2rem;
}

.courses-body {
    margin: 2rem 4.5rem;
}

.courses-offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.offer-container {
    width: 31%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.offer-container:nth-of-type(3n+0) {
    margin-right: 0;
}

.offer-container img {
    max-width: 100%;
}

.offer-text {
    padding: 1rem 3rem 1.5rem 1rem;
}

.offer-text h3 {
    padding-bottom: .5rem;
}

.offer-text h4 {
    padding-bottom: .5rem;
    opacity: 0.8;
}

video {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.thesis-section h3 {
    padding-bottom: .5rem;
}

/*.thesis-section h4 {
    margin-right: 3rem;
}*/

.thesis-body {
    display: flex;
}

.thesis-body h4 {
    padding-right: 3rem;
    margin-bottom: 0;
}

footer {
    border-top: 1px solid grey;
    padding: 1.5rem;
}
